<h1><%=@mechanic.name%>'s page</h1>

<div id="mechanic_details">
  <p>Experience: <%=@mechanic.years_experience%> Years</p>
  <h3>Rides <%=@mechanic.name%> works on</h3>
  <%@mechanic.rides.each do |ride|%>
    <p><%=ride.name%></p>
  <%end%>
</div>