<h1><%= "Mechanic: #{@mechanic.name}" %></h1>
<%= "Years of Experience: #{@mechanic.years_experience}"%>
<h4>Current rides they're working on:</h4>
<% @rides.each do |ride| %>
  <%= ride.name %>
<% end %>
