<p>Name: <%= @mechanic.name %> </p>
<p>YOE: <%= @mechanic.years_experience %> </p>
<div id="rides">
  <p>Rides:</p>
  <%= @mechanic.rides.each do |ride| %>
    <p> <%= ride.name %> </p>
  <% end %>
</div>

