<h2>Mechanic Info</h2>

<p><strong>Name: </strong><%= @mechanic.name %></p>
<p><strong>Years of Experience: </strong><%= @mechanic.years_experience %></p>

<h3>Rides Working On:</h3>
<ul id="mechanics_rides">
  <% @rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ul>