<h1>Amusement Park Page</h1>

<p><%= "Amusement Park: #{@amusement_park.name}"%></p>
<p><%= "Price of Admissions: #{@amusement_park.admission_cost}" %></p>

<h3>Mechanics working on rides:</h3>
<div id="unique_mechanics">
  <ul>
    <% @amusement_park.unique_mechanics.each do |mechanic| %>
      <li><%= mechanic.name %></li>
    <% end %>
  </ul>
</div>

<h3>Average Age of Mechanics Working on Rides</h3>
<div id="rides">
  <ol>
    <% @amusement_park.mechanics_average_experience_by_ride.each do |ride| %>
      <li><%= "#{ride.name} - Average Years of Experience for Mechanics: #{ride.average_experience}" %></li>
    <% end %>
  </ol>
</div>
