<%="Amusement Park Name: #{@amusement_park.name}"%>
<%="Price of Admission: #{@amusement_park.admission_cost}"%>



<div id="mechanics">
  <p>Mechanics working on rides</p>
    <%@unique_mechanics.each do |mechanic|%>
      <p><%=mechanic%></p>
    <%end%>
</div>

<div id="park_rides">
  <p> List of Park Rides</p>
  <%@all_rides.each do |ride|%>
    <%="#{ride.name} has mechanics with an average experience of #{ride.average.to_i} years" %>
  <%end%>
</div>