<h1>Amusement Parks Show Page</h1>

<p>Name: <%= @amusement_park.name %></p>
<p>Price: <%= @amusement_park.admission_cost %></p>

<p>Mechanics: <% @amusement_park.rides.each do |ride| %>
  <% ride.mechanics.each do |mechanic| %>
   <%= mechanic.name %></p>
  <% end %></p>
<% end %></p>

<p>Rides: <% @amusement_park.rides.each do |ride| %>
  <%= ride.name %></p>
<% end %>