<div id="park_show">
  <p>Name: <%= @amusement_park.name %></p>
  <p>Admission cost: <%= @amusement_park.admission_cost%></p>

  Mechanics who work here:
  <% @mechanics.each do |mechanic| %>
    <%= mechanic.name %>
  <% end %>
  </div>

