<h1><%=@amusement_park.name%>'s Info</h1>

<p>Amusement Park: <%=@amusement_park.name%></p>
<p>Price of Admissions: $<%=@amusement_park.admission_cost%>.00</p>

<h3>Mechanics Currently Working on Rides:</h3>
<div id="mechanics">
  
</div>