<h1>Name: <%=@amusement_park.name%></h1>
<p>Admission Price: <%=@amusement_park.admission_cost%></p>
<h3>Mechanics: </h3>
<ul>
<% @mechanics.each do |mechanic| %>
  <li><%= mechanic.name %></li>
<% end %>
</ul>

<h3>Rides: </h3>
<ul>
<% @rides_and_avg_exp.each do |ride| %>
  <li><%= "Ride Name: #{ride.name}, Avg mechanic Experience: #{ride.average_experience.round(2)}"%></li>
<% end %>
</ul>